cvxpy==1.6.5
cvxpylayers==0.1.9
einops==0.8.1
icecream==2.1.4
line_profiler==4.2.0
matplotlib==3.10.3
numpy==2.2.6
pandas==2.2.3
qpth==0.0.18
scipy==1.15.3
scs==3.2.7.post2
setuptools==78.1.1
torch==2.7.0+cu118
torchvision==0.22.0+cu118
tqdm==4.67.1
